 .info-box{
     border-radius: 15px;
     border: 2px dashed #63E6BE;
     height: auto;
     padding: 35px 10px;
     margin: 0 10px;
     margin: 10px 10px;
 }

 .info-box i{
     color: #63E6BE;
     font-size: 35px;
     margin-bottom: 20px;
 }

 .create-box{
     border-radius: 15px;
     color: #5D3891;
     border: 2px dashed #F99417;
     height: auto;
     padding: 35px 10px;
     margin: 0 10px;
     margin-top: 80px;
     animation: zoom-in-zoom-out 1.5s ease-out infinite;
     box-shadow: 0 0 50px #F99417;
    cursor: pointer;
 }
.footer{
    margin-top: 100px;
}

.modal-header .btn-close{
    margin-left: 10px!important;
}
 @keyframes zoom-in-zoom-out {
     0% {
         transform: scale(0.95, 0.95);
     }
     50% {
         transform: scale(1, 1);
     }
     100% {
         transform: scale(0.95, 0.95);
     }
 }

 .wheel-gif{
     width: 300px;
 }
 @media all and (max-width: 1460px){
     .wheelTwo{
         display: none;
     }
     .create-box{
         margin-top: 40px!important;
     }
     .footer{
         margin-top: 50px;
     }
 }